[package]
name = "web_crypto"
version = "0.1.0"
edition = "2024"
publish = false

[lib]
path = "lib.rs"

[dependencies]
getrandom = "0.3.4"
rquickjs = { version = "=0.11.0", features = ["classes", "properties", "macro"] }
